* {
    box-sizing: border-box;
}

label{
    left: 13px;
    color: #9d959d;
    font-size: 20px;
}

body {
    background: #e6f4fd;
    font-family: 'Roboto', sans-serif;
}

input{
    font-size: 18px;
}

.just_text{
    color: #111111;
    font-size: 15px;
}

.ui-form {
    max-width: 80%;
    padding: 80px 30px 30px;
    margin: 50px auto 30px;
    background: white;
}

.form-row {
    position: relative;
    margin-bottom: 40px;
}

.form-row input {
    display: block;
    width: 100%;
    padding: 10px 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #e6f4fd;
    transition: all 0.2s ease;
}

.form-row label {
    position: absolute;
    left: 13px;
    color: #9d959d;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
}

.form-row input:focus {
    outline: 0;
    border-color: #9d959d;
}

.form-row input:focus + label,
.form-row input:valid + label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #9d959d;
    color: #9d959d;
}

.ui-form input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #9d959d;
    border-width: 0;
    color: white;
    font-size: 20px;
}

.ui-form p {
    margin: 0;
    padding-top: 10px;
}