<html>
<head>
    {% load static %}
    <script src="{% static "scripts/edit_pdf.js" %}"></script>
</head>
<body>
    <br/>
    Документ:
    <select id="selDoc" onChange="reloadDocument()">
    {% for doc in documents %}
        <option value={{doc.uid}}>{{doc.originalName}}</option>
    {% endfor %}
    </select>
    <br/>
    <a href="" id="download">Загрузить</a>
    <a href="/download/{{ caseName }}">Загрузить все</a>
    <br/>
    <iframe id="doc" width="60%" height="70%">Loading</iframe><br/>
    {% if notFoundAny %}
        Не были найдены ни в одном документе:<br/>
        {% for line in notFound %}
            {{line}}<br/>
        {% endfor %}
    {% endif %}
    <script>
        init()
        reloadDocument()
    </script>
</body>
</html>