<html>
<head>
    <title>Личный кабинет</title>
</head>
<body>
    {{ user.user.username }}<br/>
    Документы:<br/>
    {% for document in documents %}
        <a href=/documents/{{ document.file }}>{{ document.file }}</a><br/>
    {% endfor %}
    <a href=/upload>Загрузить документ</a><br/>
    {% if user.is_lawyer %}
        Мои профили:<br/>
        {% for profile in profiles %}
            <a href="/profile/?id={{ profile.id }}">{{ profile.name }}</a><br/>
        {% endfor %}
        <a href=/profile>Добавить</a><br/>
    {% endif %}
    <a href={% url 'logout' %}>Logout</a>
</body>
</html>