<html>
<head>
<meta charset="utf-8">
    {% load static %}
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{% static "mainstyle.css" %}">
    <link rel="stylesheet" href="{% static "lk.css" %}">
</head>
<body>
    <div id = "wrap">
        <header>
            <div id = "photo"></div>
        </header>
    </div>
    <div id = "left_buttons">
        <table id="left_table">
            <tr>
                <td>
                    <button type="submit" value="submit" class="button">Профиль</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" value="submit" class="button">Вход</button>
                </td>
            </tr>
        </table>
    </div>
    {{ user.user.login }}<br/>
    Документы:<br/>
    {% for document in documents %}
        <a href=/documents/{{ document.file }}>{{ document.file }}</a><br/>
    {% endfor %}
    <a href=/upload>Загрузить документ</a><br/>
    {% if user.is_lawyer %}
        Мои профили:<br/>
        {% for profile in profiles %}
            <a href="/profile/?id={{ profile.id }}">{{ profile.name }}</a><br/>
        {% endfor %}
        <a href=/profile>Добавить</a><br/>
    {% else %}
        <a href=/demo>Проверить ИНН</a><br/>
    {% endif %}
    <a href={% url 'logout' %}>Logout</a>
</body>
</html>