<html>
<head>
    <title>
    {% if creating %}
        Новый профиль
    {% else %}
        Редактировать профиль
    {% endif %}
    </title>
    <script>
        function foo()
        {
            let selector = document.getElementById('new_rule')
            let selected_rule = selector.value
            let rules = document.getElementById('rules')
            console.log(rules.innerHTML)
            rules.InnerHTML = '<a href="test">test</a>'           // Если поддерживаем IE, может требоваться innerText
            
        }
    </script>
</head>
<body>
    <form action="." method="POST">
        {% csrf_token %}
        Название: <input type="text" name="name" value="{{ name }}"/><br/>
        Правила:
        <div id="rules">
            {% for rule in profile_rules %}
                {{ rule.name }}<br/>
            {% endfor %}
        </div>
        <select id="new_rule" onchange=foo()>
            {% for rule in rules %}
                <option value="{{ rule.name }}">{{ rule.name }}</option>
            {% endfor %}
        </select><br/>
        <input type="submit" value="Sumbit"/>
    </form>
</body>
</html>