<html>
<head>
    <title>Upload file</title>
    {% load static %}
    <script src="{% static "scripts/upload.js" %}"></script>
    <script>init({{ docCnt }})</script>
    <link rel="stylesheet" href="{% static "style/upload.css" %}">
</head>
<body>
    <div class="main">
        <h3>Загрузите следующие документы:</h3>
        <form method="POST" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="docCnt" value={{ docCnt }}></input>
            {% for doc in documents %}
                <div class="docblock">
                    {{ doc }}:<br/>
                    <input required type="file" name="{{ doc }}.pdf" class="file"></input><br/>
                    <h5>Фразы для поиска:</h5>
                    <input type="hidden" name="{{ forloop.counter }}_phraseCnt" id="{{ forloop.counter }}_phraseCnt" value=0></input>
                    <div id="{{ forloop.counter }}_phrases">
                    
                    </div>
                    <button type="button" onclick="addPhrase({{ forloop.counter }})">Добавить</button>
                </div>
            {% endfor %}
            <button type="submit" value="submit">Загрузить</button>
        </form>
    </div>
</body>
</html>