<html>
<head>
<title>Upload file</title>
</head>
<body>
    Загрузите следующие документы:
    <form method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
        Устав:<br/>
        <input type="file" name="Устав.pdf"></input><br/>
        Решение единственного участника о создании общества:<br/>
        <input type="file" name="Решение единственного участника о создании общества.pdf"></input><br/>
        Приказ о назначении исполнительного органа:<br/>
        <input type="file" name="Приказ о назначении исполнительного органа.pdf"></input><br/>
        <button type="submit" value="submit">Submit</button>
    </form>
</body>
</html>